<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/table/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <title>User</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-effect">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item waves-effect">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </nav>
</header>


<script th:src="@{/table/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/table/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/table/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/table/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/table/js/main.js}"></script>

</body>
</html>
