<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table V02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="limiter">
    <table class="table" id="users">
        <tbody>
        <tr class="row header">
            <th class="cell">Id</th>
            <th class="cell">Name</th>
            <th class="cell">LastName</th>
            <th class="cell">Phone</th>
        </tr>

        <tr class="row" th:each="user : ${users}" th:href="@{/user/{id} (id=${user.id})}">
            <td class="cell" data-title="Id" th:text="${user.id}"></td>
            <td class="cell" data-title="Name" th:text="${user.name}"></td>
            <td class="cell" data-title="LastName" th:text="${user.lastName}"></td>
            <td class="cell" data-title="Phone" th:text="${user.phone}"></td>
        </tr>
        </tbody>

    </table>
</div>

<script th:src="@{/table/vendor/jquery/jquery-3.2.1.min.js}"></script>

<script>
$(document).ready(function() {
    $('#users tr').click(function() {
        var href = $(this).attr("href");
        if(href) {
            window.location = href;
        }
    });
});

</script>
</body>
</html>
